# Definitely don't include
.git
.gitignore
.stow-local-ignore.template
/arch
/debian
/mac

# Optional
.gitconfig
/hypr
/waybar
/kitty
LICENSE.md
LICENSES
README.md
^/btop.*

# You might not use git worktrees this particular way
/.worktrees
