# Definitely don't include
.git
.gitignore
.stow-local-ignore.template
/arch
/debian
/mac
.config/btop/btop(?!\.conf$).*\.conf
keyd_default.conf
distro-specific-linker.sh
LICENSE.md
LICENSES
README.md

# Optional: Comment out what you want, uncomment what you don't want
# /scripts
.gitconfig
hypr
waybar
kitty
ghostty
# .globalgitignore
# .tmux.conf
# btop.conf
# htoprc
# lfrc
# .vimrc
# .bashrc
# .inputrc

# You might not use git worktrees this particular way
/.worktrees
